infrastructure/n8n/workflows/amazon-commission-to-city-metrics.json
{
  "name": "Amazon Commission → city_metrics (slctrips_amazon_revenue)",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "metric_key", "name": "metric_key", "value": "slctrips_amazon_revenue", "type": "string" },
            { "id": "amount", "name": "amount", "value": 0, "type": "number" }
          ]
        },
        "options": {}
      },
      "id": "set-amount",
      "name": "Set amount to add",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/upsert_revenue_metric",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_metric_key\": \"{{ $json.metric_key }}\",\n  \"p_amount_to_add\": {{ $json.amount }}\n}",
        "options": {}
      },
      "id": "upsert-metric",
      "name": "Upsert slctrips_amazon_revenue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Set amount to add", "type": "main", "index": 0 }]]
    },
    "Set amount to add": {
      "main": [[{ "node": "Upsert slctrips_amazon_revenue", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "1",
  "meta": { "templateCredsSetupCompleted": false }
}
