infrastructure/n8n/workflows/rss-to-social-content-log.json
{
  "name": "RSS → Social Copy API → Google Sheets",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 6 }]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3000/feed",
        "options": {}
      },
      "id": "rss-read",
      "name": "RSS Feed Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [460, 300],
      "notes": "Change URL to your blog RSS (e.g. wasatchwise.com/feed or /feed.xml)"
    },
    {
      "parameters": {
        "jsCode": "// Take the newest item and extract the slug from the blog URL\nconst items = $input.all();\nif (!items.length) return [];\nconst sorted = items.sort((a, b) => {\n  const dateA = new Date(a.json.pubDate || a.json.isoDate || 0).getTime();\n  const dateB = new Date(b.json.pubDate || b.json.isoDate || 0).getTime();\n  return dateB - dateA;\n});\nconst newest = sorted[0].json;\nconst title = newest.title || '';\nconst link = newest.link || newest.guid || '';\nconst excerpt = newest.contentSnippet || newest.content?.substring(0, 500) || newest.description || '';\n// Extract slug from URL: https://wasatchwise.com/blog/my-post-slug → my-post-slug\nconst slug = link.split('/').filter(Boolean).pop() || '';\nreturn [{ json: { title, link, excerpt, slug, pubDate: newest.pubDate || newest.isoDate } }];\n"
      },
      "id": "code-newest-only",
      "name": "Newest Post Only",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-link",
              "leftValue": "={{ $json.slug }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-has-post",
      "name": "Has Slug?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:3000/api/generate-social-copy?slug={{ $json.slug }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "generate-social-copy",
      "name": "Generate Social Copy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "notes": "Calls the Next.js API route. Change URL to https://wasatchwise.com for production."
    },
    {
      "parameters": {
        "jsCode": "// Format the API response for Google Sheets\nconst api = $input.first().json;\nconst twitterText = Array.isArray(api.twitter)\n  ? api.twitter.join('\\n---\\n')\n  : (api.twitter || '');\nreturn [{\n  json: {\n    slug: api.slug || '',\n    title: api.title || '',\n    blog_url: api.blogUrl || '',\n    linkedin_text: api.linkedin || '',\n    x_text: twitterText,\n    generated_at: new Date().toISOString()\n  }\n}];\n"
      },
      "id": "format-for-sheet",
      "name": "Format for Sheet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "17YYA4QpezHLG81PTCyUsuSwLHAoT4P_s", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Sheet2", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.generated_at }}",
            "Slug": "={{ $json.slug }}",
            "LinkedIn": "={{ $json.linkedin_text }}",
            "Twitter": "={{ $json.x_text }}",
            "Blog URL": "={{ $json.blog_url }}"
          }
        },
        "options": {}
      },
      "id": "sheets-append",
      "name": "Append to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1560, 300],
      "notes": "Appends to the execution schedule spreadsheet, Sheet2 tab."
    }
  ],
  "connections": {
    "Every 6 Hours": { "main": [[{ "node": "RSS Feed Read", "type": "main", "index": 0 }]] },
    "RSS Feed Read": { "main": [[{ "node": "Newest Post Only", "type": "main", "index": 0 }]] },
    "Newest Post Only": { "main": [[{ "node": "Has Slug?", "type": "main", "index": 0 }]] },
    "Has Slug?": {
      "main": [
        [{ "node": "Generate Social Copy", "type": "main", "index": 0 }],
        []
      ]
    },
    "Generate Social Copy": { "main": [[{ "node": "Format for Sheet", "type": "main", "index": 0 }]] },
    "Format for Sheet": { "main": [[{ "node": "Append to Google Sheet", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "2",
  "meta": { "templateCredsSetupCompleted": false }
}
